<div class="container">
  <div class="clearfix">
    <div class="col col-12 p1">
      <div class="overflow-hidden bg-white border rounded">
        <div class="p2 bg-yellow">
        	<h1 class="h2 m0">
            <%= @user.name %>
          </h1>
         </div>
         <div class="clearfix mb2 outline-blue">
  				<div class="left p2 mr1">
  					<%= image_tag "#{@user.avatar}", class: "circle ticket-img p3 left block" %>
  				</div>
  				<% if @user.pro? %>
  					<br>
  					<br>
  					<br>
	  				<div class="overflow-hidden">
              <!-- Iterate through each profession with yrs exp and bio  -->
	  					<% @professions.each do |profession| %>
	  						<h1 class="h2 m0">
	  							<%= profession.profession.name + " - " %>
	  							<span class="h4 inline-block button-small bg-yellow rounded">
	  								<%= profession.years_of_exp.to_s + " years" %>
	  							</span>
	  						</h1>
	  						<div>
	  							<%= profession.bio %>
	  						</div>
              <% if @user.id == session[:user_id] %>
                <%= link_to "Edit", edit_professional_path(profession.id), class: "inline-block button-small white bg-yellow rounded" %>
              <% end %>
              <% end %>
	  				</div>
  				<% end %>
				</div>
      </div>
    </div>
  </div>
</div>

