<% if @ticket.professional == nil %>
  <% if current_user.pro? %>
    <%= render :partial => "tickets/button", :locals => {color: "blue", content: "Claim", pro: "true"} %>
  <% else %>
    <%= render :partial => "tickets/button", :locals => {color: "gray", content: "Pending", pro: "false"} %>
  <% end %>
<% else %>
  <% if @ticket.professional.user == current_user %>
      <g:hangout render="createhangout" invites="[{ id : <%= @ticket.user.email %>, invite_type : 'EMAIL' }]">
    <%= render :partial => "tickets/button", :locals => {color: "blue", content: "Unclaim", pro: "true"} %>
  <% else %>      
      <g:hangout render="createhangout" invites="[{ id : <%= @ticket.professional.user.email %>, invite_type : 'EMAIL' }]">
</div>
  <% end %>
<% end %>
