<span data-ticket=<%=@ticket.id %>>
<div class="container">
  <div class="clearfix">
    <div class="col col-12 p1">
      <div class="overflow-hidden bg-white border rounded">
        <div class="p2 bg-yellow">
          <h1 class="h2 m0">
            <span data-title><%= @ticket.title %></span>
            <%= render "tickets/ticket_status" %>
          </h1>
        </div>
        <div class="p1">
          <div class="clearfix">
            <div class="col col-4 p1">
              <%= image_tag "#{@ticket.user.avatar}", class: "circle ticket-img p3 left block" %>
            </div>
            <div data-ticket-btn class="col col-4 p1 center ticket-btn">
              <%= render "tickets/ticket_action_button" %>
            </div>
            <div class="col col-4 p1">
              <% if @ticket.professional.nil? %>
                <%= image_tag "grey-silhouette.png", class: "circle ticket-img p3 right" %>
              <% else %>
                <%= image_tag "#{@ticket.professional.user.avatar}", class: "circle ticket-img p3 right" %>
              <% end %>
            </div>
          </div>
          <div class="clearfix">
            <div class="col col-12 p3">
              <%= @ticket.body %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
